.editorDetail {
    border-radius: 5px;
    background: #F3F8FB;
    /*height: 32vh;*/
}

.ace_editor{
    background: #F3F8FB!important;
    margin-left: -5px;
}

.hidden{
    display: none;
}

.overFlowScroll{
    overflow: scroll;
}

.myMarkerErr {
    position:absolute;
    background:rgba(222,45,38,0.5);
  }

  .myMarkerWarn {
    position:absolute;
    background:rgba(100,200,100,0.5);
  }