.linterReport{
    overflow: scroll;
    padding-bottom: 5px;
}

.hardRuleCard{
    border-style: solid;
    border-color: #ffccc7;
    border-width: 1px;
}

.hardRuleCard .ant-card-head{
    background: #fff2f0;
    border-bottom: 1px solid #ffccc7;
}

.hardRuleCard .cardGrid {
    width: 100%;
}

.softRuleCard{
    border-style: solid;
    border-color: #ffe58f;
    border-width: 1px;
}

.softRuleCard .ant-card-head{
    background: #fffbe6;
    border-bottom: 1px solid #ffe58f;
}

.softRuleCard .cardGrid {
    width: 100%;
}

.ant-card-grid{
    border: none;
    box-shadow: none;
    padding: 8px;
}