.navBarDetail {
    border-radius: 5px;
    background: #dee2e6;
    border: #dee2e6;
    /*height: 32vh;*/
  }

.logo {
    float: left;
    overflow: hidden;
    
    font-size: 20px;
    line-height: 30px;
    white-space: nowrap;
    text-decoration: none;
    margin-right: 24px;
}

.label {
    float: left;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

